@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.top-nav-menu-expanded {
  @apply
  absolute
  text-center
  top-16
  w-full
  z-50
  bg-white
  animate-slideDown
}

.top-nav-menu {
  @apply
  py-1
  relative
  cursor-pointer
  text-gray-800
  after:lg:absolute
  after:lg:bg-light-coffee
  after:lg:bottom-0
  after:lg:left-0
  after:lg:h-0.5
  after:lg:w-0
  after:lg:transition-all
  after:lg:ease-in-out
  after:lg:duration-300
  hover:after:lg:w-full
  hover:text-light-coffee
}

.top-nav-menu-active {
  @apply
  text-gray-800
}

.ic-card {
  @apply
  w-5
  h-5
  inline-block
}

.badge-circle {
  @apply
  text-xs
  text-center
  rounded-full
  px-1
  py-1
}

.subheadline {
  @apply
  flex
  justify-center
  items-center
  mb-24
}

.subheadline-deco-line {
  @apply
  bg-gray-200
  w-8
  h-px
}

.subheadline-label {
  @apply
  uppercase
  text-center
  tracking-widest
  text-gray-500
  font-medium
  text-xs
  mx-4
}
